<ion-content padding id="page2">
  <div class="spacer" style="height:100px;" id="login-spacer2"></div>
  <form id="login-form1">
    <ion-list id="login-list1">
      <ion-item id="login-input1">
        <ion-label></ion-label>
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item id="login-input2">
        <ion-label></ion-label>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height:40px;" id="login-spacer1"></div>
    <button id="login-button1" block (click)="goToPagePage()" ion-button color="stable" block>
      Log in
    </button>
    <button id="login-button2" ion-button clear color="positive" block (click)="goToSignup()">
      Or create an account
    </button>
  </form>
</ion-content>