<ion-content padding id="page3">
  <div class="spacer" style="height:100px;" id="signup-spacer3"></div>
  <form id="signup-form2">
    <ion-list id="signup-list2">
      <ion-item id="signup-input3">
        <ion-label></ion-label>
        <ion-input type="text" placeholder="Name"></ion-input>
      </ion-item>
      <ion-item id="signup-input4">
        <ion-label></ion-label>
        <ion-input type="email" placeholder="Email"></ion-input>
      </ion-item>
      <ion-item id="signup-input5">
        <ion-label></ion-label>
        <ion-input type="text" placeholder="Password"></ion-input>
      </ion-item>
    </ion-list>   
    <button id="signup-button3" ion-button color="stable" (click)="goToLoginPage()" block>
      Sign up
    </button>
  </form>
</ion-content>