page-page {
    .button-1{
        //background-color: blue!important;
    }
    .button-2{
        background-color: color($colors, orange) !important;
    }
    .button-3{
        background-color: color($colors, green) !important;
    }
    .button-4{
        //background-color: blue !important;
    }
    .button-5{
        background-color: color($colors, orange) !important;
    }
    .button-6{
        background-color: color($colors, red) !important;
    }
}


