<ion-content padding id="page1">
  <form id="page-form4">

    <ion-item id="page-input6">
      <ion-label floating>Digitação</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

  </form>

  <div id="page-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Cadastrar Digitação de Talões
    </p>
  </div>

  <button class="button-1" id="page-button4" ion-button block style="border-radius:-1px -1px -1px -1px;">
    <ion-icon name="archive"></ion-icon>
    Gerar arquivo envio x
  </button>
  
  <button class="button-2" id="page-button5" ion-button block>
    <ion-icon name="download"></ion-icon>
    Baixar ultimo arquivo x gerado
  </button>

  <button class="button-3" id="page-button6" ion-button block>
    <ion-icon name="folder"></ion-icon>
    Histórico
  </button>

  <div class="spacer" style="width:300px;height:26px;" id="page-spacer4"></div>

  <form id="page-form5">

    <ion-item id="page-input7">
      <ion-label floating>Número auto infração</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item id="page-input8">
      <ion-label floating>Código.enquadramento</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item id="page-input9">
      <ion-label floating>Placa </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Agente</ion-label>
        <ion-select [(ngModel)]="gaming" [ngModelOptions]="{standalone: true}">
          <ion-option *ngFor="let item of games" value="{{ item.nome }}">{{ item.nome }}</ion-option>
        </ion-select>
    </ion-item>

    <div class="spacer" style="width:300px;height:26px;" id="page-spacer6"></div>

    <ion-item id="page-input12">
      <ion-label floating>Observação</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item id="page-input13">
      <ion-label floating>Local coerência</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <div class="spacer" style="width:300px;height:26px;" id="page-spacer7"></div>
    
    <ion-item id="page-input14">
      <ion-label floating-left>Data Infração</ion-label>
      <ion-input type="date"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>UF órgão autuador</ion-label>
        <ion-select [(ngModel)]="gaming" [ngModelOptions]="{standalone: true}">
          <ion-option *ngFor="let item of games" value="{{ item.nome }}">{{ item.nome }}</ion-option>
        </ion-select>
    </ion-item>

    <ion-item id="page-input16">
      <ion-label floating>Hora infração</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Código munícipio</ion-label>
        <ion-select [(ngModel)]="gaming" [ngModelOptions]="{standalone: true}">
          <ion-option *ngFor="let item of games" value="{{ item.nome }}">{{ item.nome }}</ion-option>
        </ion-select>
    </ion-item>

    <div class="spacer" style="width:300px;height:26px;" id="page-spacer9"></div>

    <button class="button-4" id="page-button8" ion-button full>
      Enviar
    </button>

    <button class="button-5" id="page-button9" ion-button full>
        <ion-icon name="download"></ion-icon>
      Enviar e continuar
    </button>

    <button class="button-6" id="page-button12" ion-button full>
      Cancelar
    </button>

  </form>
  <button ion-button (click)="goToLoginPage()" >Voltar</button>

</ion-content>